.hoge {
  color: red;
}

a {
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  color: #bf6a7a;
}

.fuga {
  font-size: 16px;
  padding: 8px;
  background-color: powderblue;
}

.piyo {
  font-size: 32px;
}

.l-container {
  width: 960px;
  margin: auto;
  padding: 16px;
}

.c-alert {
  border: solid #000 1px;
  border-radius: 2px;
  padding: 8px 16px;
  font-size: 18px;
}

.c-alert--success {
  border: solid #007DE8 1px;
  background-color: #C9EAFF;
}

.c-alert--warning {
  border: solid #FF6594 1px;
  background-color: #FFD3D3;
}
